{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}

    <h1>Profile</h1>
    <img src="/images/profile/{{ user.image }}" class="img-fluid border border-additive" width="74" height="74" alt="Profile picture" >

    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{ user.name }}</dd>
        <dt>email</dt>
        <dd>{{ user.email }}</dd>
        <dt>Signup Category</dt>
        {% if user.catogery == "Signup as student" %}
        <dd>Student</dd>
        {% else %}
        <dd>Invester</dd>
        {% endif %}
    </dl>
    {% if user.id == current_user.id %}
        <a href="/profile/edit">Edit</a>
    {% endif %}

    {% if details.user_id == current_user.id %}
        <h1 class="text-center">Your Posts</h1>    
        {% for details in user_Posts %}
            <div class="w-50  mx-auto border p-4 my-4">
                <p>
                    <strong style = "font-size: large;">{{ details.name }}</strong> posted on <b>{{ details.catogery }}</b>
                    <a href="/post/edit?post_id={{ details.id }}">Edit this post</a>
                </p>
                <pre class=" border">
                    <h3>{{ details.title }} </h3>
                    <p>{{ details.discription }}</p>
                </pre>
            </div>
        {% endfor %}
    {# {% else current_user.catogery == "Signup as student" %} #}
    {% endif %}

{% endblock %}
