{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="" style="align-items: center; margin: 15px;;">
        <div class=" mx-auto border p-2 my-0" style="border:orange; box-shadow: 5px 5px 5px orange; border-radius: 20px; margin-bottom: 10px;  justify-content: center;">
            <div class="profile bg-dark">
                <!-- <h1 style="color: orange;"> -->
                    <img src="/images/profile/{{ user.image }}" class="" style="min-width: 100%; height: 300px; object-fit: cover; align-items: center; object-position: 100% 25%;" alt="Cover photo" >
                <!-- </h1> -->
                <div class="bottom-left">                    
                    <img src="/images/profile/{{ user.image }}" class="img-thumbnail p-0" style="border: 5px solid orange; width:200px; height:200px; border-radius: 50%; object-fit: cover; align-items: left;" alt="Profile picture" >
                </div>
            </div>
            <dl class="px-4 py-2">
                <dt>Name</dt>
                <dd>{{ user.name }}</dd>
                <dt>email</dt>
                <dd>{{ user.email }}</dd>
                <dt>Signup Category</dt>
                {% if user.catogery == "Signup as student" %}
                <dd>Student</dd>
                {% else %}
                <dd>Invester</dd>
                {% endif %}
                {% if user.id == current_user.id %}
                    <a class="btn logbtn p-2" href="/profile/edit">Edit</a>
                {% endif %}
            </dl>
            {% if user.id != current_user.id %}
                <a class="btn logbtn" href="#">Message</a>                
            {% endif %}
            <a href="#" class="btn logbtn mx-3 p-2">Report</a>
        </div>
    </div>
    <div class="justify-content-center d-flex">
        <div class="row">
            <div>
                {% for details in user_posts %}
                    {% if current_user.id == user.id %}
                        <div class="card text-dark bg-warning mb-3">
                            <div class="card-header">
                                {% if current_user.id == details.user_id %}
                                    <a class="logbtn" href="/profile/show"><b>{{ details.name }}</b></a> posted on <b>{{ details.catogery }}</b>
                                    <a class="logbtn" href="/post/edit?post_id={{ details.id }}">edit</a>
                                {% else %}
                                    <a class="logbtn" href="/people/profile-visit?id={{ details.user_id }}"><b>{{ details.name }}</b></a> posted on <b>{{ details.catogery }}</b>
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">{{ details.title }}</h3>
                                <p class="card-text">{{ details.discription }}</p>
                            </div>
                            <!-- <button type="submit">Help</button> -->
                        </div>
                    {% else %}
                        {% if details.catogery == "Emergency Help"  %}
                            <div class="card text-dark bg-warning mb-3">
                                <div class="card-header">
                                    <a class="logbtn" href="/people/profile-visit?id={{ details.user_id }}"><b>{{ user.name }}</b></a> posted on <b>{{ details.catogery }}</b>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">{{ details.title }}</h3>
                                    <p class="card-text">{{ details.discription }}</p>
                                </div>
                                <!-- <button type="submit">Help</button> -->
                            </div>
                        {% endif %}
                        {% if current_user %}
                            {% if current_user.catogery == "Signup as student" and details.catogery == "Seeking to invest" %}
                                <div class="card text-dark bg-warning mb-3">
                                    <div class="card-header">
                                        <a href="/people/profile-visit?id={{ details.user_id }}"><b>{{ user.name }}</b></a> posted on <b>{{ details.catogery }}</b>
                                    </div>
                                    <div class="card-body">
                                        <h3 class="card-title">{{ details.title }}</h3>
                                        <p class="card-text">{{ details.discription }}</p>
                                    </div>
                                    <!-- <button type="submit">Help</button> -->
                                </div>
                            {% endif %}

                            {% if current_user.catogery == "Signup as invester" and details.catogery == "Seeking for invester" %}
                                <div class="card text-dark bg-warning mb-3">
                                    <div class="card-header">
                                        <a class="logbtn" href="/people/profile-visit?id={{ details.user_id }}"><b>{{ user.name }}</b></a> posted on <b>{{ details.catogery }}</b>
                                    </div>
                                    <div class="card-body">
                                        <h3 class="card-title">{{ details.title }}</h3>
                                        <p class="card-text">{{ details.discription }}</p>
                                    </div>
                                    <!-- <button type="submit">Help</button> -->
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}    
            </div>
        </div>
    </div>

{% endblock %}